main{
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-ul{
    height:57vh;
    width: calc(60vw + 6.5vh + 32px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    --webkit-scrollbar-width: none;
    gap: 1.75vh;
}

.main-ul li{
    display: flex;
    min-height: 10vh;
    width: 100%;
    background-color: rgb(20, 116, 84) ;
    color: azure;
    font-size: 20px;
    border-radius: 20px;
    justify-content: space-between;
}
.main-ul input{
    height: 5vh;
    width: 5vh;
    margin-left: 20px;
    object-fit: cover;
}
.itemText{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    line-height: 100%;
}
.delete-icon{
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vh;
    line-height: 100%;
    margin-right: 20px;
}