header{
    height: 10vh;
    width: 100%;
    background-color: rgb(20, 116, 84);
    display: flex;
    align-items: center;
    justify-content: center;
    color:azure;
    font-size: 20px;
}
header h3{
    display: flex;
}